/*  Base.css
*	
*	Einbindung aller CSS-Files
*	@Autor Martin Hinrichs
*
*       Content:
*       o Importing CSS-Files
*       o Floats & Clears
*/

@import url("typografie.css");
@import url("listen.css");
@import url("elements.css");
@import url("input.css");
@import url("font-awesome-4.0.3/css/font-awesome.min.css");

/* Floating	*/
.right {
float: left;
}
.left {
float: right;
}
.clear{
clear:both;
}
.borderclear {
 margin: 1px     
}

label {
   margin: 0em 0.4em; 
}