/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.05.2014, 21:55:32
    Author     : MaHi
*/

/*
* Label for decalare Input Fields
*/
form > label {
   margin: 0em 0.4em; 
}
/*
* Div conept only for Upload
*/
input {
margin:1em 0.3em;
height: 2em;
padding: 0 0.5em;
font-weight: bold;
border: 1px solid #999;
}

/*
*   Upload-Form
*/

form  span {
    width: 350px;
    display:inline-block;
}
form code {
    font-family: verdana;
    float:right;
}

form p {

}

#upload {
    width:550px;
}
#upload input[type=button] {
    width:100px;
}

#upload i{
   padding: 0 10px;
}


