/*  Typografie.css
*	
*	Eigeschaften zur Schrift ( Gr??e,Schriftart,Abstand..)
*	@Autor Martin Hinrichs
*/

/* Implement Sans Serif Font */
body{
font-family: Verdana,lucida console,sans-serif;
}
p,table,ul {
font-size: 0.875em;
}
/*	
Headline Elements 
*/
h1,h2,h3,h4,h5,h6{
color:#222;
display:block;
font-weight:bold;
margin-top: 0.4em;

}
h1{font-size: 1.6667em;}	/* H1 Main Title Unique */
h2{font-size: 1.5em;}
h3{font-size: 1.3334em;}
h4{font-size: 1.1667em;}
h5{font-size: 1em;}
h6{font-size: 0.9167em;}
/* 
Paragraph Element
*/
p{
display:block;
line-height: 1.1em;
font-weight: normal;
margin: 0.2em 0 0 0;
padding:0;
}
/* 
Input-Element
*/
/* 
Input vom Type Button
*/
.button {
 font-size:0.9em;    
}


